CALENDARIO_SECRET_PATH=mi-ruta-escritura
CALENDARIO_READONLY_SECRET_PATH=mi-ruta-lectura
ALEXA_LWA_CLIENT_ID=...
ALEXA_LWA_CLIENT_SECRET=...
ALEXA_LWA_REFRESH_TOKEN=...
# Scopes recomendados al generar el refresh token con ASK CLI:
# alexa::ask:skills:read
# alexa::ask:skills:readwrite
# alexa::ask:models:read
# alexa::ask:models:readwrite
# alexa::ask:skills:test
ALEXA_VENDOR_ID=...
ALEXA_SKILL_ID=...
ALEXA_SKILL_STAGE=development
ALEXA_INVOCATION_NAME=calendario
ALEXA_ENDPOINT_BASE_URL=https://calendario.com
ALEXA_ENDPOINT_PATH=<SECRETO>/alexa
